<section class="banner-section">
  <div class="container">
    <div class="banner-content">
      <div class="text-container">
        <h2 class="slogan">Intégrez l'une des plus prestigieuse école de Cote d'Ivoire.</h2>
        <a [routerLink]="['/cursos']" class="btn">Contacter la direction</a>
      </div>
      <div class="image-container">
        <img
          src="assets/imagens/estudantes.jpg"
          alt="Estudantes da Keystone English"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
