<header class="header">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/home']">
        <img src="assets/logo.png" alt="Logo da Escola" />
      </a>
      <h1> Lycée d'Abidjan</h1>
    </div>
    <div class="nav-buttons">
      <nav class="nav">
        <ul>
          <li><a [routerLink]="['/home']">Accueil</a></li>
          <li><a [routerLink]="['/cursos']">Cours offerts</a></li>
          <li><a [routerLink]="['/metodo']">Méthodes</a></li>
          <li><a [routerLink]="['/contato']">Contact</a></li>
          <li><a [routerLink]="['/blog']">Blog</a></li>
        </ul>
      </nav>
      <div class="buttons">
        <button class="btn login" button (click)="abrirModalLogin()">
          Login
        </button>
        <button class="btn cadastrar" button (click)="abrirModalCadastro()">
          Inscription
        </button>
      </div>
    </div>
  </div>
</header>
